# Python
__pycache__/
*.py[cod]

# Conda / virtual envs
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dados
data/raw/*
data/processed/*

# Mantém as pastas
!data/raw/.gitkeep
!data/processed/.gitkeep

# MLflow
mlruns/
mlartifacts/
mlflow.db

# Kaggle
kaggle.json

# IDE
.vscode/
.idea/

# Linux
.DS_Store

# Logs
*.log

